.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 80px;
  column-gap: 80px;
  margin-bottom: 120px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 25%);
}