.hamburger-menu {
  scale: 1.5;
  cursor: pointer;
}

.links-parent {
  position: relative;
}

.links-container {
  position: absolute;
  bottom: -122px;
  right: -24px;
  background-color: #FFF;
  box-shadow: inset 0 5px 15px rgba(0, 0, 0, 0.15);
}