.choice-container {
  display: flex;
  align-items: center;
  margin: 12px 0;
}

.option-container {
  flex-wrap: wrap;
}

.choice-container .radio-btn {
  width: 24px;
  height: 24px;
}

.choice-option {
  margin-left: 16px;
  font-size: 18px;
  font-weight: 500;
}