@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #04395E;
  --background-color-blured: #D9D9D9;
  --footer-background-color: #FF1F66;
  --poll-border-color: #021B2C;
}

/* body */

body {
  margin-top: 81px;
  background-color: var(--main-color);
  padding: 0 0 81px 0;
  min-height: calc(100vh - 81px);
  position: relative;
}

/* navbar */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 81px;
  width: 100%;
  padding: 1.5em;
  background-color: #FFFFFF;
  position: fixed;
  top: 0;
}

.navbar .left-side img:hover {
  cursor: pointer;
}

.navbar .right-side {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 140px;
}

.navbar .right-side a {
  text-decoration: none;
  color: var(--main-color);
  font-size: 1.1em;
  font-weight: 500;
}

/* footer */

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 81px;
  width: 100%;
  background-color: var(--footer-background-color);
  position: absolute;
  bottom: 0;
}

.footer a {
  padding: 0 50px;
}

.footer a:hover {
  cursor: pointer;
}

.footer a img {
  width: 50px;
  height: 50px;
}